$color-background = #EADCD7
$color-primary = #409EFF

$border = 1px solid rgb(229, 211, 209)
$box-shadow = 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04)

$g-border = 1px solid rgb(229, 211, 209)
$g-box-shadow = 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04)
